
<ul class="navbar-nav d-flex">
	
	@if (Request.IsAuthenticated)
	{
		//Kullanici adi ve logout linkleri

		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/Account">@User.Identity.Name</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/Account/Logout">Logout</a>
		</li>
	}
	else
	{
		//Login ve register linkleri
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/Account/Login">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="/Account/Register">Register</a>
		</li>
	}

	

</ul>